


When tradeProcessor receives a tradeId from the Queue,
    - then it should fetch the trade details from the trade repository
        - if the cusip is found in the securityReferenceLookup
            - then it should update the trade status (LookupStatus.VALID) in the trade repository
            - then it should insert the journalEntry in the journal repository
            - then it should upsert the position in the Positions table 
                - in the upsert
                        - it should set the holding value to Plus or Minus based on the SELL | BUY Direction



based on this --- 
can you give me the list of test cases - 
        positive, and negative --
        


